html, body {
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #b8b8b8;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 100px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 100px;
    transition: all 0.5s ease;
}

.header.small {
    height: 70px;
    background-color: rgb(0, 0, 0);
}

.header__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    max-width: 191px;
    margin-right: 150px;
    align-items: center;
    justify-content: center;
}

.logo a {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo img {
    object-fit: contain;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.menu_item a {
    text-decoration: none;
    color: #B8B8B8;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.menu_item:hover a {
    color: #fff;
}



.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    transform-origin: 0 0;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: 16px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }







.promo {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
}

.promo__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1px;
}

.promo__content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;bottom: 0;left: 0;right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 38px;
}

.promo__content_description {
    margin-top: 20px;
    width: 70%;
    text-align: center;
    line-height: 24px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    min-width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    background-size: cover;
}

.service:first-child {
    background: url("./img/uslugi-bg/ppf-bg.JPG") 0% 50% / cover no-repeat;
}

.service:nth-child(2) {
    background: url("./img/uslugi-bg/ceramica-bg.JPG") 0% 46% / cover no-repeat;
}

.service:nth-child(3) {
    background: url("./img/uslugi-bg/polerka-bg.JPG") 0% 56% / cover no-repeat;
}

.service:nth-child(4) {
    background: url("./img/uslugi-bg/myjnia-bg.JPG") 0% 31% / cover no-repeat;
}

.service:nth-child(5) {
    background: url("./img/uslugi-bg/pranie-bg-1.JPG") 0% 50% / cover no-repeat;
}

.service:nth-child(6) {
    background: url("./img/uslugi-bg/color-bg.JPG") 0% 19% / cover no-repeat;
}

.service__content {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.service__content_img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__content span {
    font-size: 24px;
}

.service__content:hover {
    background: rgba(0, 0, 0, 0);
}

.map {
    width: 100%;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: black;
}

.map__content {
    flex: 5;
    height: 100%;
    display: flex;
}

.map__content .left {
    flex: 1;
}

.map__content .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.form {
    height: 100%;
    max-height: 440px;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.form h2 {
    font-size: 26px;
    margin: 0 0 40px 0;
}

.form input {
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #b8b8b8;
}

.form button {
    margin-top: 20px;
    background-color: #a08565;
    color: #2b2512;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease;
}

.form button:hover {
    transform: scale(110%);
}

.map_contact {
    display: flex;
    align-items: center;
    align-self: start;
    margin-bottom: 15px;
}

.map_contact img {
    margin-right: 15px;
    width: 21px;
    height: 20px;
}

.map_contact a {
    text-decoration: none;
    color: #b8b8b8;
}

.map__iframe {
    flex: 3;
    width: 100%;
    height: 100%;
}

footer {
    height: 60px;
    max-width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


@media screen and (max-width: 1100px) {    
    .header .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

@media screen and (max-width: 700px) {    
    .service {
        width: 100%;
    }
    
    .header {
        padding: 10px 50px;
    }

    .map {
        flex-direction: column-reverse;
    }
}
